.about-me-general {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.about-me-technologies {
  height: 75vh;
}

ul {
  padding: 0;
}

.about-me-info-div {
  display: flex;
  flex-direction: column;
}

.about-me-image {
  width: 400px;
  height: 400px;
  margin-right: 50px;
}

.title {
  font-weight: bold;
  color: #536DFE;
}

.info {
  color: #444053;
}

.info h4 {
  font-weight: bold;
}

.subtitle {
  padding-top: 30px;
  color: #536DFE;
  font-weight: bold;
}

.btn {
  margin-top: 40px;
}

.button-div {
  text-align: center;
}

.technologies-grid {
  margin-top: 35px;
  margin-bottom: 40px;
  height: 390px;
  gap: 40px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.technology-name h5 {
  color: #444053;
  font-weight: bold;
}

.technology-image img {
  width: 100px;
}

.observation {
  color: #444053;
}