footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  color: #FFFFFF;
  background-color: #444053;
}

.social-logos {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}