footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  color: #D0D2D5;
  background-color: #444053;
}

.social-logos {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-name {
  text-decoration: none;
  color: #D0D2D5;
  font-weight: bold;
}

.site-name:hover {
  color: #536DFE;
}