@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-custom-lime: #ADFF02;
  --color-custom-cyan: #02F1FF;
  --color-custom-purple: #BC01FF;
  --color-custom-orange: #FF5D01;

  --animate-floating: floating 7s ease-in-out infinite;
  --animate-marquee: marquee 60s linear infinite;

  @keyframes floating {
    0, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  :root {
    --color-custom-lime: #ADFF02;
  --color-custom-cyan: #02F1FF;
  --color-custom-purple: #BC01FF;
  --color-custom-orange: #FF5D01;
  }
}

@layer utilities {
  .brutal-shadow-sm {
    box-shadow: 7px 7px 0px 0px #000000;
  }

  .brutal-shadow-lg {
    box-shadow: 9px 9px 0px 0px #000000;
  }
}

body {
  font-family: "Public Sans", sans-serif;
}