.projects-section {
  height: 315vh;
}

.projects-div {
  margin-top: 70px;
}

.project {
  background-color: #444053;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin-bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
}

.project-info {
  width: 500px;
}

.info-left {
  padding-left: 40px;
  padding-right: 70px;
}

.info-right {
  padding-right: 20px;
}

.image-right {
  padding-left: 40px;
  padding-right: 70px;
}

.project-info h3 {
  color: #536DFE;
  font-size: 45px;
  font-weight: bold;
}

.project-info h5 {
  color: #FFFFFF;
}

.project-info a {
  font-size: 20px;
  text-decoration: none;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 9px;
  border-radius: 5px;
}

.project-image img {
  width: 750px;
}

.project-button {
  margin-top: 60px;
  background-color: #536DFE;
  color: #FFFFFF;
  margin-right: 50px;
}

.project-button:hover {
  background-color: #D0D2D5;
  color: #444053;
}

.code-button {
  background-color: #EDF0FF;
  color: #536DFE;
}

.code-button:hover {
  background-color: #D0D2D5;
  color: #444053;
}