<section id="about" class="mt-12 border-4 bg-white p-10 brutal-shadow-lg">
  <h1 class="mb-8 uppercase px-3 py-2 bg-black w-fit text-white font-black tracking-tight text-3xl">Quem sou eu?</h1>

  <p class="mb-4 font-bold text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate ea doloribus quisquam neque nam eos, officiis tenetur accusamus, eius optio ipsa magni expedita possimus quasi labore quam tempora ipsam totam.</p>
  <p class="font-bold text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate ea doloribus quisquam neque nam eos, officiis tenetur accusamus, eius optio ipsa magni expedita possimus quasi labore quam tempora ipsam totam.</p>
</section>