---
import Button from "./Button.astro";
---

<section class="mt-24 bg-black p-12 text-center brutal-shadow-lg">
  <h1 class="text-white uppercase text-6xl font-black italic">Gostaria de entrar em <span class="text-custom-lime">contato</span> comigo?</h1>
  <h6 class="my-12 text-xl font-bold text-gray-400">Clique no botão abaixo e me envie um e-mail.</h6>
  <Button size="lg" color="lime">Enviar e-mail</Button>
</section>