<footer class="flex flex-col md:flex-row items-center justify-between italic font-bold uppercase border-t-4 mt-12 py-4 dark:text-neutral-500 dark:border-neutral-700 gap-y-4">
  <span class="bg-white inline-block dark:bg-neutral-800">I ❤️ Neubrutalism</span>

  <div class="flex gap-4">
    <a href="https://github.com/marcelosarinho">
      <i class="text-4xl ph-bold ph-github-logo"></i>
    </a>
    <a href="https://br.linkedin.com/in/marcelo-sarinho">
      <i class="text-4xl ph-bold ph-linkedin-logo"></i>
    </a>
  </div>
</footer>