---
type LinkColor = 'white' | 'black' | 'lime';
type LinkSize = 'sm' | 'lg';

interface Props {
  color: LinkColor;
  size: LinkSize;
  href: string;
}

const { color, size, href } = Astro.props as Props;

const classMap: Record<LinkColor, string> = {
  black: 'text-white bg-black',
  white: 'bg-white',
  lime: 'bg-custom-lime'
}

const sizeMap: Record<LinkSize, string> = {
  sm: 'lg:text-xl lg:px-6 lg:py-4 text-lg px-4 py-2',
  lg: 'lg:text-3xl lg:px-10 lg:py-6 text-2xl px-8 py-4',
}

const classes = classMap[color] ?? 'text-black bg-white';
const sizes = sizeMap[size] ?? 'text-xl px-6 py-4';
---

<a
  href={href}
  class={`${classes} inline-block transition-all duration-150 hover:cursor-pointer hover:shadow-[7px_7px_0px_0px_#000000] hover:-translate-x-0.5
  hover:-translate-y-0.5 uppercase ${sizes} border-4 border-black font-black`}
>
  <slot />
</a>