---
import Logo from "./Logo.astro";
import NavbarOption from "./NavbarOption.astro";
---

<div class="fixed z-60 size-full bg-gray-100 p-4">
  <Logo />

  <ul class="flex flex-col">
    <NavbarOption href="#about">Sobre</NavbarOption>
    <NavbarOption href="#skills">Habilidades</NavbarOption>
    <NavbarOption href="#projects">Projetos</NavbarOption>
    <NavbarOption href="#contact">Contato</NavbarOption>
  </ul>
</div>