---
import Logo from "./Logo.astro";
import NavbarOption from "./NavbarOption.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav class="sticky top-4 z-50 flex items-center justify-between uppercase font-black border-4 bg-white p-6 brutal-shadow-sm tracking-tight dark:bg-neutral-600 dark:text-neutral-300 dark:border-black">
  <Logo layout="navbar" />

  <ul class="hidden items-center gap-4 md:flex">
    <NavbarOption href="#about">Sobre</NavbarOption>
    <NavbarOption href="#skills">Habilidades</NavbarOption>
    <NavbarOption href="#projects">Projetos</NavbarOption>
    <NavbarOption href="#contact">Contato</NavbarOption>

    <li class="h-4 border"></li>

    <ThemeSwitcher />
  </ul>

  <button id="mobile-sidebar-btn" class="block md:hidden">
    <i class="ph-bold ph-list"></i>
  </button>
</nav>

<script is:inline>
  const mobileSidebarButton = document.getElementById('mobile-sidebar-btn');
  const mobileSidebar = document.getElementById('mobile-sidebar');

  mobileSidebarButton.addEventListener('click', () => {
    mobileSidebar.classList.replace('hidden', 'fixed');
  });
</script>