<nav class="flex items-center justify-between uppercase font-black border-4 bg-white p-6 brutal-shadow-sm">
  <span class="text-white bg-black px-2 py-1 md:text-3xl text-sm sm:text-md -rotate-3">Marcelo_Sarinho</span>

  <ul class="hidden gap-4 md:flex">
    <li>
      <a class="hover:underline decoration-2" href="#about">Sobre</a>
    </li>
    <li>
      <a class="hover:underline decoration-2" href="#projects">Projetos</a>
    </li>
    <li>
      <a class="hover:underline decoration-2" href="#skills">Habilidades</a>
    </li>
    <li>
      <a class="hover:underline decoration-2" href="#contact">Contato</a>
    </li>
  </ul>

  <button class="block md:hidden">
    <i class="ph-bold ph-list"></i>
  </button>
</nav>