---
import NavbarOption from "./NavbarOption.astro";
---

<nav class="sticky top-4 z-50 flex items-center justify-between uppercase font-black border-4 bg-white p-6 brutal-shadow-sm tracking-tight">
  <span class="text-white bg-black px-2 py-1 md:text-3xl text-sm sm:text-md -rotate-2">Marcelo_Sarinho</span>

  <ul class="hidden gap-4 md:flex">
    <NavbarOption href="#about">Sobre</NavbarOption>
    <NavbarOption href="#skills">Habilidades</NavbarOption>
    <NavbarOption href="#projects">Projetos</NavbarOption>
    <NavbarOption href="#contact">Contato</NavbarOption>
  </ul>

  <button class="block md:hidden">
    <i class="ph-bold ph-list"></i>
  </button>
</nav>