<section class="mt-24">
  <h1 class="uppercase bg-custom-orange text-white font-black w-fit tracking-tight px-3 py-2 text-3xl">
    Meus projetos
  </h1>

  <div class="mt-8 grid grid-cols-12 gap-10">
    <div class="col-span-6 bg-custom-purple border-4 brutal-shadow-lg hover:-translate-x-1 hover:-translate-y-1 transition-all">
      Fodase
    </div>
    <div class="col-span-6 bg-custom-orange border-4 brutal-shadow-lg hover:-translate-x-1 hover:-translate-y-1 transition-all">
      Fodase
    </div>
  </div>
</section>