---
import Project from "./Project.astro";
import bookTracker from "../../public/projects/book-tracker.jpg";
import browserTabs from "../../public/projects/browser-tabs.png";
import drawingApp from "../../public/projects/drawing-app.png";
import kanban from "../../public/projects/kanban.png";
import Link from "./Link.astro";
---

<section id="projects" class="scroll-mt-40 mt-24">
  <h1 class="uppercase bg-custom-orange text-white font-black w-fit tracking-tight px-3 py-2 text-3xl">
    Meus projetos
  </h1>

  <div class="mt-8 grid lg:grid-cols-2 grid-cols-1 gap-x-10 gap-y-14">
    <Project
      url="https://github.com/marcelosarinho/kanban"
      photo={kanban.src}
      name="Kanban"
      description="Um gerenciador de tarefas no formato de Kanban, voltado para projetos de tecnologia. Nele, é possível criar diversos projetos, e organizar as suas devidas tarefas por categoria, estado, entre outros." />
    <Project
      url="https://marcelosarinho.github.io/drawing-app/"
      photo={drawingApp.src}
      name="Drawing App"
      description="Uma aplicação que possibilita ao usuário desenhar livremente ou com formas geométricas, apagar o desenho por completo e salvá-lo no próprio computador após finalizar." />
    <Project
      url="https://marcelosarinho.github.io/browser-tabs/"
      photo={browserTabs.src}
      name="Browser Tabs"
      description="Uma simulação de um navegador de internet. No caso, só foi feita a lógica por trás de um navegador, já que não implementei protocolos de navegação utilizados em um navegador oficial." />
    <Project
      url="https://github.com/marcelosarinho/book-tracker"
      photo={bookTracker.src}
      name="Book Tracker"
      description="Um sistema de gerenciamento de livros. Aqui, o desafio foi tentar aprender o máximo de C# possível em um final de semana para uma entrevista de vaga de emprego."
    />
  </div>

  <div class="text-center mt-8">
    <Link size="sm" color="lime" href="https://github.com/marcelosarinho">
      Ver todos os projetos
    </Link>
  </div>
</section>