---
type TitleColor = 'black' | 'cyan' | 'purple' | 'orange';

interface Props {
  title: string;
  skills: string[];
  color?: TitleColor;
}

const { title, skills, color = 'black'} = Astro.props as Props;

const colorMap: Record<TitleColor, string> = {
  black: 'text-black dark:text-neutral-300',
  purple: 'text-custom-purple',
  orange: 'text-custom-orange',
  cyan: 'text-custom-cyan',
}

const shadowColorMap: Record<TitleColor, string> = {
  black: 'hover:shadow-[4px_4px_0px_0px_rgb(0_0_0/1)] dark:hover:shadow-[4px_4px_0px_0px_#DEDEDE]',
  purple: 'hover:shadow-[4px_4px_0px_0px_#BC01FF]',
  orange: 'hover:shadow-[4px_4px_0px_0px_#FF5D01]',
  cyan: 'hover:shadow-[4px_4px_0px_0px_#02F1FF]',
}

const titleColor = colorMap[color];
const shadowColor = shadowColorMap[color];
---

<div class="p-8 bg-white dark:bg-neutral-600 border-4 border-black transition-all duration-200 brutal-shadow-sm
    ease-[cubic-bezier(0.175,0.885,0.32,1.275)] hover:-translate-x-1.5 hover:-translate-y-1.5
    hover:shadow-[16px_16px_0px_0px_rgba(0,0,0,1)]"
>
  <h1 class={`text-2xl underline uppercase tracking-tight ${titleColor} font-black`}>{title}</h1>

  <div class="flex flex-wrap gap-3 mt-4 text-lg font-bold dark:text-neutral-300">
    {skills.map(skill => (
      <span class={`border-2 px-2 py-1 hover:-translate-x-1 hover:-translate-y-1 ${shadowColor} transition dark:border-black bg-neutral-200 dark:bg-neutral-700`}>
        {skill}
      </span>
    ))}
  </div>
</div>