---
import SkillCard from "./SkillCard.astro";
---

<section class="mt-12">
  <h1 class="uppercase font-black tracking-tight text-white bg-black w-fit px-3 py-2 text-3xl">
    Minhas habilidades
  </h1>

  <div class="grid grid-cols-12 gap-6 mt-8">
    <SkillCard title="Front-end" color="black" />
    <SkillCard title="Back-end" color="purple" />
    <SkillCard title="Banco de Dados e ORM" color="orange" />
    <SkillCard title="DevOps" color="cyan" />
    <SkillCard title="Testes" color="black" />
    <SkillCard title="Ferramentas" color="purple" />
  </div>
</section>