<section class="mt-12">
  <h1 class="uppercase font-black tracking-tight text-white bg-black w-fit px-3 py-2 text-3xl">
    Minhas habilidades
  </h1>

  <div class="grid grid-cols-12 gap-6 mt-8">
    <div class="col-span-4 p-8 bg-white border-4 brutal-shadow-sm text-2xl font-bold">
      <h1 class="uppercase">Front-end</h1>


    </div>
    <div class="col-span-4 p-8 bg-white border-4 brutal-shadow-sm text-2xl font-bold">
      Back-end
    </div>
    <div class="col-span-4 p-8 bg-white border-4 brutal-shadow-sm text-2xl font-bold">
      Banco de Dados e ORM
    </div>
    <div class="col-span-4 p-8 bg-white border-4 brutal-shadow-sm text-2xl font-bold">
      DevOps
    </div>
    <div class="col-span-4 p-8 bg-white border-4 brutal-shadow-sm text-2xl font-bold">
      Testes
    </div>
    <div class="col-span-4 p-8 bg-white border-4 brutal-shadow-sm text-2xl font-bold">
      Ferramentas
    </div>
  </div>
</section>