---
import SkillCard from "./SkillCard.astro";
---

<section id="skills" class="scroll-mt-40 mt-24">
  <h1 class="uppercase font-black tracking-tight text-white bg-black w-fit px-3 py-2 text-3xl">
    Minhas habilidades
  </h1>

  <div class="grid lg:grid-cols-3 grid-cols-1 gap-6 mt-8">
    <SkillCard
      title="Front-end"
      color="black"
      skills={['HTML', 'CSS', 'Tailwind CSS', 'Bootstrap', 'Bulma', 'Material UI', 'PrimeFaces', 'JavaScript', 'TypeScript', 'React', 'Vue.js', 'Next.js', 'Astro', 'Inertia', 'React Router', 'TanStack Query']}
    />
    <SkillCard
      title="Back-end"
      color="purple"
      skills={['Node.js', 'PHP', 'Express', 'Fastify', 'Laravel', 'REST API', 'GraphQL', 'Apollo']}
    />
    <SkillCard
      title="Banco de Dados e ORM"
      color="orange"
      skills={['MySQL', 'PostgreSQL', 'Oracle', 'TypeORM', 'Prisma', 'DrizzleORM']}
      />
    <SkillCard
      title="DevOps"
      color="cyan"
      skills={['Docker', 'AWS', 'Linux']}
      />
    <SkillCard
      title="Testes"
      color="black"
      skills={['Jest (testes unitários)']}
      />
    <SkillCard
      title="Ferramentas"
      color="purple"
      skills={['VS Code', 'Vite', 'Git', 'GitHub', 'Postman', 'Figma', 'Asana', 'Windsurf', 'Claude Code']}
      />
  </div>
</section>