<section class="mt-12">
  <div class="bg-black text-white flex">
    <span>React</span>
    <span>React</span>
    <span>React</span>
    <span>React</span>
    <span>React</span>
    <span>React</span>
  </div>
</section>