<section class="mt-12 overflow-hidden w-full bg-black text-white py-4">
  <div class="font-bold text-2xl flex gap-8 w-max animate-marquee">
    <span>HTML</span>
    <span>CSS</span>
    <span>Bootstrap</span>
    <span>Tailwind</span>
    <span>Bulma</span>
    <span>Material UI</span>
    <span>JavaScript</span>
    <span>TypeScript</span>
    <span>jQuery</span>
    <span>Node.js</span>
    <span>TypeORM</span>
    <span>DrizzleORM</span>
    <span>Fastify</span>
    <span>PHP</span>
    <span>Laravel</span>
    <span>React</span>
    <span>Vue.js</span>
    <span>Next.js</span>
    <span>Astro</span>
    <span>Inertia</span>
    <span>AWS</span>
    <span>PostgreSQL</span>
    <span>MySQL</span>
    <span>JWT</span>
    <span>TanStack Query</span>

    <span>HTML</span>
    <span>CSS</span>
    <span>Bootstrap</span>
    <span>Tailwind</span>
    <span>Bulma</span>
    <span>Material UI</span>
    <span>JavaScript</span>
    <span>TypeScript</span>
    <span>jQuery</span>
    <span>Node.js</span>
    <span>TypeORM</span>
    <span>DrizzleORM</span>
    <span>Fastify</span>
    <span>PHP</span>
    <span>Laravel</span>
    <span>React</span>
    <span>Vue.js</span>
    <span>Next.js</span>
    <span>Astro</span>
    <span>Inertia</span>
    <span>AWS</span>
    <span>PostgreSQL</span>
    <span>MySQL</span>
    <span>JWT</span>
    <span>TanStack Query</span>
  </div>
</section>