<div
  data-theme-toggle
  class="relative border-2 bg-white dark:bg-neutral-900 w-16 rounded-full p-1 h-9 rounded-brutal-shadow-sm
  hover:cursor-pointer dark:border-neutral-300"
>
  <div id="light-mode" class="absolute top-1 left-1 size-6 rounded-full bg-black dark:bg-custom-lime flex items-center justify-center
      transition-transform duration-300 ease-[cubic-bezier(0.68,-0.55,0.265,1.55)] dark:translate-x-7"
  >
    <i class="ph-bold ph-sun absolute text-white transition-opacity duration-200 dark:opacity-0"></i>
    <i class="ph-bold ph-moon absolute opacity-0 transition-opacity duration-200 dark:opacity-100 text-black"></i>
  </div>
</div>