---
import AboutMeSection from './AboutMeSection.astro';
import MainSection from './MainSection.astro';
import Navbar from './Navbar.astro';
import TechSection from './TechSection.astro';
import Footer from './Footer.astro';
---

<div id="container" class="container mx-auto py-6">
	<main>
		<Navbar />
		<MainSection />
		<AboutMeSection />
		<TechSection />
		<Footer />
	</main>
</div>