---
import AboutMeSection from './AboutMeSection.astro';
import MainSection from './MainSection.astro';
import Navbar from './Navbar.astro';
import TechSection from './TechSection.astro';
import Footer from './Footer.astro';
import SkillsSection from './SkillsSection.astro';
import ProjectsSection from './ProjectsSection.astro';
---

<div id="container" class="container mx-auto py-6">
	<main>
		<Navbar />
		<MainSection />
		<AboutMeSection />
		<TechSection />
		<SkillsSection />
		<ProjectsSection />
		<Footer />
	</main>
</div>